.memoir{ :class => defined?(on_show_page) ? 'show' : '' }
  - if memoir.is_quote?
    %p.quote= memoir.quoted_text
  - elsif memoir.is_dialogue?
    - reset_cycle
    - memoir.dialogue_lines.each do |line|
      %p.dialogue{ :class => cycle }
        - if line[:speaker]
          %span.speaker= line[:speaker]
          %span.speech= line[:message]
        - else
          = line[:message]
  - else
    %p= memoir.text
  
  .clearfix
  .details
    %a{ :href => url_for_memoir(memoir) }== #{memoir.person} am #{format_date(memoir.created_at)}
    - if defined? on_show_page
      = facebook_like_button