.memoir{ :class => defined?(on_show_page) ? 'show' : '' }
  %span.number= memoir.number
  - if memoir.is_quote?
    %p.quote= memoir.quoted_text
    %p.quotesource= memoir.person
  - elsif memoir.is_dialogue?
    - reset_cycle
    - memoir.dialogue_lines.each do |line|
      %p.dialogue{ :class => cycle }
        - if line[:speaker]
          %span.speaker= line[:speaker]
          - unless line[:style].nil?
            %span.style= line[:style]
          - unless line[:message].nil? || line[:message].empty?
            %span.speech= line[:message]
        - elsif line[:action]
          %span.action= line[:action]
        - else
          = line[:message]
  - else
    %p= memoir.text
  
  .clearfix
  - unless defined?(skip_details)
    .details
      %a{ :href => url_for_memoir(memoir) }== #{memoir.person} am #{format_date(memoir.created_at)}
      - if defined? on_show_page
        = facebook_like_button